global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'evidently_metrics'
    honor_labels: true
    static_configs:
      - targets: ['pushgateway:9091'] # hardcoded. because prometheus doesnt read env variables

  - job_name: 'fastapi_app'
    static_configs:
      - targets: ['fastapi:8000'] # hardcoded because prometheus doesnt read env variables

## Alert Manager Configuration
#alerting:
#  alertmanagers:
#    - static_configs:
#      - targets:
#        - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'
rule_files:
  - "alert_rules.yml"
